body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #eeeeee;
  color: #5d4037;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #4e342e;
}

.title-logo:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.about-title {
  margin-bottom: 50px;
  font-size: 30px;
}

.contacts-links {
  margin-top: 30px;
  margin-bottom: 50px;
}

nav {
  padding: 0 1rem;
}

.content {
  min-height: calc(100vh - 70px - 64px);
  padding: 1.5rem 0;
}

.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: #eceff1;
  border-radius: 8px;
  box-shadow: 3px 3px 12px 0 #757575;
  border: 1px solid #757575;
}

.btn {
  border-radius: 10px !important;
}

.card-image {
  border-start-end-radius: 8px;
  border-start-start-radius: 8px;
  /* border: 1px solid #757575; */

  background-color: #eee;
  border-bottom: 1px solid #757575 !important;
  margin-bottom: 10px;
}

.card-content {
  flex-grow: 1;
  background-color: #e0e0e0 !important;
  border-bottom: 1px solid #757575 !important;
  border-top: 1px solid #757575 !important;
  font-style: italic;
}

.card-action {
  background-color: #e0e0e0 !important;
  border-top: 1px solid #757575 !important;
  margin-top: 10px;
  border-end-start-radius: 8px !important;
  border-end-end-radius: 8px !important;
}

.card-title {
  font-weight: 400 !important;
  font-style: normal;
}

.btn-category {
  width: 100%;
}

.card-reciepe {
  display: flex;
}

img {
  max-width: 100%;
  max-height: 80vh;
}

iframe {
  width: 600px;
  height: 350px;
  max-width: 100%;
}

table {
  width: 500px;
  max-width: 100%;
}

.recipe-title {
  margin: 0 0 2rem;
}

.pecipe-description {
  font-size: 20px;
}

input[type="search"]:not(.browser-default) {
  box-sizing: border-box !important;
  width: 100%;
  padding-right: 80px;
  border-radius: 0px;
  padding-left: 10px;
  margin-bottom: 0;
}

.striped {
  background-color: #e0e0e0;
  color: #000;
}

input[type="search"]:focus {
  border: 1px solid #757575 !important;
  border-radius: 10px;
}

.btn-search {
  height: 100%;
  position: absolute;
  top: 0px;
  right: 0px;
}

input[type="search"]:focus {
  background-color: transparent !important;
}

.contacts-list {
  font-size: 20px;
}

.contacts-list:hover {
  text-decoration: underline;
}

@media (max-width: 767px) {
  .btn-search {
    position: static;
  }
  input[type="search"]:not(.browser-default) {
    width: 100%;
    padding-right: 0;
  }
  .recipe-title {
    font-size: 36px;
  }
  .content {
    padding-top: 0.8rem;
  }
  .row {
    margin-bottom: 0;
  }
  .input-field {
    margin-top: 0;
  }
}

@media (max-width: 555px) {
  .list {
    gap: 0rem;
  }
}

@media (max-width: 480px) {
  .brand-logo {
    font-size: 18px !important;
  }
}

@media (max-width: 400px) {
  nav {
    height: 100px !important;
  }

  .brand-logo {
    font-size: 32px !important;
    position: static !important;
  }
  .nav-list {
    display: flex !important;
    line-height: 30px;
  }
}
